/* roboto-condensed-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./fonts/roboto-condensed-v19-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-condensed-v19-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-condensed-v19-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/roboto-condensed-v19-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-condensed-v19-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed';
  font-size: 24px;
}

body {
  /*overflow: hidden;*/
}

.tech-item-appear {
  background-color: white;
}

.tech-item-appear-active {
  background-color: white;
  transition: all 200ms;
}

.tech-item-enter {
  background-color: #5FE2DC;
}

.tech-item-enter-active {
  background-color: #5FE2DC;
  transition: all 200ms;
}

.tech-item-exit {
  background-color: white;
}

.tech-item-exit-active {
  background-color: white;
  transition: all 200ms;
}

.page-enter {
  opacity: 0.5;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.page-exit {
  opacity: 0.5;
}

.page-exit-active {
  opacity: 1;
  transition: opacity 2000ms forwards;
}

.slide-enter-active {
  transition: fade-in 500ms forwards;
}

.slide-exit-active {
  transition: fade-out 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}